@charset "utf-8";
/* CSS Document */
body{
	margin: 0;
	padding: 0;
}
.cerceve{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
header{
	width: 1000px;
	height: 60px;
	background-color: #CC0033;
	border: 5px #333 solid;
	box-sizing: border-box;
}
nav{
	width: 1000px;
	height: 40px;
	border: 5px #333 solid;
	box-sizing: border-box;
	margin-top: 5px;
	display: flex;

}
.buton{
	background-color: #4CAF50;
	flex:1;
	text-align: center;
	color:  #fff;
	line-height: 30px;
	border-right: #333 solid 5px;
	cursor: pointer;
}
.buton:last-of-type{
	border-right: none;
}
.buton:hover{
	background-color: yellow;
}
section{
	width: 1000px;
	border: 5px #333 solid;
	box-sizing: border-box;
	margin-top: 5px;
}
.panel1, .panel2{
	height: 300px;
}
.panel3{
	height: 350px;
}
footer{
	width: 100%;
	height: 100px;
	background-color: #333;
	margin-top: 5px;
}
.a{
	width: 470px;
	height: 270px;
	background-color: #0033CC;
	margin-left: 10px;
	margin-top: 10px;
	float: left;
}
.b, .c{
	width: 240px;
	height: 270px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}
.b1, .c1, .b2, .c2{
	width: 240px;
	height: 130px;
	background-color: #CC0033;
	margin-bottom: 10px;
}
.b2, .c2{
	background-color: #6600FF;
}
.mobil-menu{
	display: none;
}